{% extends 'base.html.twig' %}

{% block body %}

    {% include "::header.html.twig" %}

    <!-- begin:: Subheader -->
    <div id="kt_subheader" class="kt-subheader kt-grid__item ">
        <!-- begin:: Subheader Title -->
        <div class="kt-subheader__title">
            <button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler">
                <span></span></button>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Dashboard</a>
            </div>
        </div>
        <!-- end:: Subheader Title -->

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__toolbar-wrapper">
                <a href="{{ path('planning_new') }}" class="btn btn-default btn-sm btn-bold btn-upper">Create</a>
            </div>
        </div>

    </div>
    <!-- end:: Subheader -->


    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
        <div class="kt-body kt-body--fixed  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver" id="kt_body">
            <!-- begin:: Content -->
            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">

                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                la liste des emplois du temps :
                            </h3>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <!--begin: Datatable -->
                        <table class="table table-striped- table-bordered table-hover table-checkable"
                               id="kt_table_1">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Created_at</th>
                                <th>Updated_at</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for planning in plannings %}

                                <tr>
                                    <td>{{ planning.id }}</td>
                                    <td>{{ planning.name }}</td>
                                    <td>{% if planning.createdat %}{{ planning.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{% if planning.updatedat %}{{ planning.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>

                                        <span>
                                            <a href="{{ path('planning_edit',{'id':planning.id}) }}" title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md">
                                                <i class="la la-edit"></i>
                                            </a>
                                            <a href="{{ path('planning_delete',{'id':planning.id}) }}" title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-trash"></i>
                                            </a>
                                            <a href="{{ path('planning_config',{'id':planning.id}) }}" title="Gerer l'emploi du temps" class="btn btn-sm btn-clean btn-icon btn-icon-md"><i class="la la-align-justify"></i>
                                            </a>
                                        </span>

                                    </td>
                                </tr>

                            {% endfor %}


                            </tbody>

                        </table>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
            <!-- end:: Content -->
        </div>
    </div>


    {% include "::footer.html.twig" %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        "use strict";
        var KTDatatablesDataSourceHtml = {
            init: function () {
                $("#kt_table_1").DataTable({
                    responsive: !0,
                    columnDefs: [{}]
                })
            }
        };
        jQuery(document).ready(function () {
            KTDatatablesDataSourceHtml.init()
        });
    </script>

{% endblock %}
