{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planning</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ planning.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if planning.createdat %}{{ planning.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if planning.updatedat %}{{ planning.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('planning_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('planning_edit', { 'id': planning.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
