{% extends 'base.html.twig' %}

{% block body %}


    {% include "::header.html.twig" %}

    <!-- begin:: Subheader -->
    <div id="kt_subheader" class="kt-subheader kt-grid__item ">
        <!-- begin:: Subheader Title -->
        <div class="kt-subheader__title">
            <button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler">
                <span></span></button>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Dashboard</a>
            </div>
        </div>
        <!-- end:: Subheader Title -->
    </div>
    <!-- end:: Subheader -->

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
        <div class="kt-body kt-body--fixed  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver" id="kt_body">

            <!-- begin:: Content -->
            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="row">
                    <div class="col-md-12">
                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Base Controls</h3>
                                </div>
                            </div>
                            <!--begin::Form-->

                            <form action="{{ path('user_config') }}" class="kt-form" method="post">

                                <div class="kt-portlet__body">
                                    <div class="form-group">
                                        <label for="">
                                            Séléctionner la classe
                                        </label>
                                        <select name="classe" class="form-control" id="classe">
                                            <option value="">---</option>
                                            {% for classe in classes %}
                                                <option value="{{ classe.id }}">{{ classe.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Portlet-->

                    </div>
                </div>
            </div>
            <!-- end:: Content -->

        </div>
    </div>

    {% include "::footer.html.twig" %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        "use strict";
    </script>

{% endblock %}


