{% extends 'base.html.twig' %}

{% block body %}
    <h1>Classe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ classe.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if classe.createdat %}{{ classe.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if classe.updatedat %}{{ classe.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('classe_edit', { 'id': classe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
