{% extends 'base.html.twig' %}

{% block body %}
    <h1>Filiere</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ filiere.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ filiere.name }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if filiere.createdat %}{{ filiere.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if filiere.updatedat %}{{ filiere.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('filiere_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('filiere_edit', { 'id': filiere.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
