{% extends 'base.html.twig' %}

{% block body %}

    {% include "::header.html.twig" %}

    <!-- begin:: Subheader -->
    <div id="kt_subheader" class="kt-subheader kt-grid__item ">
        <!-- begin:: Subheader Title -->
        <div class="kt-subheader__title">
            <button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler">
                <span></span></button>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Dashboard</a>
            </div>
        </div>
        <!-- end:: Subheader Title -->

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__toolbar-wrapper">
{#                <a href="{{ path('classe_new') }}" class="btn btn-metal">Create</a>#}
                <a href="#" id="print" class="btn btn-metal">print</a>
            </div>
        </div>

    </div>
    <!-- end:: Subheader -->

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
        <div class="kt-body kt-body--fixed  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver" id="kt_body">
            <!-- begin:: Content -->
            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="row">
                    <div class="col-lg-12">
                        <!--begin::Portlet-->
                        <div class="kt-portlet" id="kt_portlet">
                            <div class="kt-portlet__head kt-portlet__head--lg">
                                <div class="kt-portlet__head-label">
                                    <span class="kt-portlet__head-icon">
                                        <i class="flaticon-map-location"></i>
                                    </span>
                                    <h3 class="kt-portlet__head-title">
                                        Emploi du temps
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">

                                <!-- Modal -->
                                <div class="modal fade" id="addCour" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">

                                        <form class="kt-form" action="{{ path('cour_new') }}" method="post" id="kt-form">
                                            <input type="hidden" value="{{ planning.id }}" name="planning">
                                            <input type="hidden" value="" name="id" id="cours_id">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un cour</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="kt-portlet__body">
                                                        <input type="hidden" name="start_date" id="start_date" value="">
                                                        <input type="hidden" name="end_date" id="end_date" value="">
                                                        <div class="form-group">
                                                            <label for="">Matiere</label>
                                                            <select class="form-control" name="matiere" id="matiere">
                                                                <option value="">--</option>
                                                                {% for matiere in matieres %}
                                                                    <option value="{{ matiere.id }}">{{ matiere.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Intervenant</label>
                                                            <select class="form-control" name="intervenant"
                                                                    id="intervenant">
                                                                <option value="">--</option>
                                                                {% for intervenant in intervenants %}
                                                                    <option value="{{ intervenant.id }}">{{ intervenant.getLastName }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Classe</label>
                                                            <select class="form-control" name="classe" id="classe">
                                                                <option value="">--</option>
                                                                {% for classe in classes %}
                                                                    <option value="{{ classe.id }}">{{ classe.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Salle</label>
                                                            <select class="form-control" name="salle" id="salle">
                                                                <option value="">--</option>
                                                                {% for salle in salles %}
                                                                    <option value="{{ salle.id }}">{{ salle.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-brand"
                                                            data-dismiss="modal">Fermer
                                                    </button>

                                                    <button type="button" class="btn btn-brand btn-danger"
                                                            id="delete-cours" style="display: none;" value="">Delete Cour
                                                    </button>
                                                    {#<button ty pe="button" class="btn btn-brand">Save changes</button>#}
                                                    <input type="submit" class="btn btn-brand" value="Sauvegarder"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div id="kt_calendar"></div>
                            </div>
                        </div>
                        <!--end::Portlet-->
                    </div>
                </div>
            </div>
            <!-- end:: Content -->
        </div>
    </div>


    {% include "::footer.html.twig" %}
{% endblock %}

{% block javascripts %}


    <script type="text/javascript">
        "use strict";
        var KTCalendarBasic = {
            init: function () {

                var calendar = $("#kt_calendar").fullCalendar({
                    lang: 'fr',
                    allDaySlot: false,
                    defaultView: "agendaWeek",
                    minTime: '08:00:00',
                    maxTime: '18:00:00',
                    selectable: true,
                    header: {left: "prev,next today", center: "title", right: "month,agendaWeek,agendaDay,listWeek"},
                    editable: !0,
                    eventLimit: !0,
                    navLinks: !0,
                    events: '{{ path('cours_all_json',{'id':planning.id}) }}',
                    eventRender: function (eventObj, $el) {
                        /*$el.popover({
                            title: eventObj.title,
                            content: eventObj.description,
                            trigger: 'hover',
                            placement: 'top',
                            container: 'body'
                        });*/
                    },
                    eventMouseover: function (event, domEvent, view) {

                        {#var el = $(this);#}

                        {#var layer = '<div id="events-layer" class="fc-transparent"><span id="delbut' + event.id + '" class="btn btn-default btn-danger trash btn-xs">Delete</span></div>';#}
                        {#if(el.find('#events-layer').length == 0){#}
                        {#el.append(layer);#}
                        {#el.find(".fc-bg").css("pointer-events", "none");#}
                        {#}#}

                        {#$("#delbut" + event.id).click(function () {#}

                        {#$.ajax({#}
                        {#url: '{{ path('delete_cour') }}',#}
                        {#method: 'GET',#}
                        {#data: {'id': event.id},#}
                        {#contentType: 'application/json',#}
                        {#success: function (result) {#}
                        {#// handle success#}
                        {#calendar.fullCalendar('removeEvents', event.id);#}
                        {#console.log(result);#}
                        {#$("#events-layer").remove();#}

                        {#$('#addCour').modal('hide');#}
                        {#},#}
                        {#error: function (request, msg, error) {#}
                        {#// handle failure#}
                        {#}#}
                        {#//return true if the event 'eventObject' needs to be removed, return false if it doesn't#}
                        {#});#}
                        {#});#}

                    },
                    eventDrop: function (event, delta) { // event drag and drop

                        var start = new Date(event.start);
                        var end = new Date(event.end);

                        if (new Date(start).getTimezoneOffset() == -60) {
                            start.setHours(start.getHours() - 1);
                            end.setHours(end.getHours() - 1);
                        }

                        start = start.getFullYear() + '-' + ((start.getMonth() + 1) < 10 ? '0' : '') + (start.getMonth() + 1) + '-' + (start.getDate() < 10 ? '0' : '') + start.getDate() + ' ' + (start.getHours() < 10 ? '0' : '') + start.getHours() + ":" + (start.getMinutes() < 10 ? '0' : '') + start.getMinutes();
                        end = end.getFullYear() + '-' + ((end.getMonth() + 1) < 10 ? '0' : '') + (end.getMonth() + 1) + '-' + (end.getDate() < 10 ? '0' : '') + end.getDate() + ' ' + (end.getHours() < 10 ? '0' : '') + end.getHours() + ":" + (end.getMinutes() < 10 ? '0' : '') + end.getMinutes();

                        $.ajax({
                            url: '{{ path('cour_resize') }}',
                            method: 'GET',
                            data: {'id': event.id, 'start': start, 'end': end},
                            contentType: 'application/json',
                            success: function (result) {
                                // handle success
                                console.log(result);

                            },
                            error: function (request, msg, error) {
                                // handle failure
                            }
                            //return true if the event 'eventObject' needs to be removed, return false if it doesn't
                        });

                    },
                    eventResize: function (event) {  // resize to increase or decrease time of event

                        var start = new Date(event.start);
                        var end = new Date(event.end);

                        if (new Date(start).getTimezoneOffset() == -60) {
                            start.setHours(start.getHours() - 1);
                            end.setHours(end.getHours() - 1);
                        }

                        start = start.getFullYear() + '-' + ((start.getMonth() + 1) < 10 ? '0' : '') + (start.getMonth() + 1) + '-' + (start.getDate() < 10 ? '0' : '') + start.getDate() + ' ' + (start.getHours() < 10 ? '0' : '') + start.getHours() + ":" + (start.getMinutes() < 10 ? '0' : '') + start.getMinutes();
                        end = end.getFullYear() + '-' + ((end.getMonth() + 1) < 10 ? '0' : '') + (end.getMonth() + 1) + '-' + (end.getDate() < 10 ? '0' : '') + end.getDate() + ' ' + (end.getHours() < 10 ? '0' : '') + end.getHours() + ":" + (end.getMinutes() < 10 ? '0' : '') + end.getMinutes();

                        $.ajax({
                            url: '{{ path('cour_resize') }}',
                            method: 'GET',
                            data: {'id': event.id, 'start': start, 'end': end},
                            contentType: 'application/json',
                            success: function (result) {
                                // handle success
                                console.log(result);

                            },
                            error: function (request, msg, error) {
                                // handle failure
                            }
                            //return true if the event 'eventObject' needs to be removed, return false if it doesn't
                        });
                    },
                    select: function (start, end, allDay) {

                        var add = "{{ path('cour_new') }}";

                        $('#kt-form').attr('action',add);
                        $('#delete-cours').hide();
                        $('#kt-form #cours_id').val(null);

                        var start = new Date(start);
                        var end = new Date(end);

                        if (new Date(start).getTimezoneOffset() == -60) {
                            start.setHours(start.getHours() - 1);
                            end.setHours(end.getHours() - 1);
                        }

                        $('#start_date').val(start.getFullYear() + '-' + ((start.getMonth() + 1) < 10 ? '0' : '') + (start.getMonth() + 1) + '-' + (start.getDate() < 10 ? '0' : '') + start.getDate() + ' ' + (start.getHours() < 10 ? '0' : '') + start.getHours() + ":" + (start.getMinutes() < 10 ? '0' : '') + start.getMinutes());
                        $('#end_date').val(end.getFullYear() + '-' + ((end.getMonth() + 1) < 10 ? '0' : '') + (end.getMonth() + 1) + '-' + (end.getDate() < 10 ? '0' : '') + end.getDate() + ' ' + (end.getHours() < 10 ? '0' : '') + end.getHours() + ":" + (end.getMinutes() < 10 ? '0' : '') + end.getMinutes());
                        $('#addCour').modal('show');

                    },
                    eventClick: function (event, jsEvent, view) {

                        var edit = "{{ path('cour_edit') }}";

                        $('#kt-form').attr('action',edit);
                        $('#delete-cours').show();
                        $('#kt-form #cours_id').val(event.id);

                        var start = new Date(event.start);
                        var end = new Date(event.end);

                        if (new Date(start).getTimezoneOffset() == -60) {
                            start.setHours(start.getHours() - 1);
                            end.setHours(end.getHours() - 1);
                        }

                        $('#start_date').val(start.getFullYear() + '-' + ((start.getMonth() + 1) < 10 ? '0' : '') + (start.getMonth() + 1) + '-' + (start.getDate() < 10 ? '0' : '') + start.getDate() + ' ' + (start.getHours() < 10 ? '0' : '') + start.getHours() + ":" + (start.getMinutes() < 10 ? '0' : '') + start.getMinutes());
                        $('#end_date').val(end.getFullYear() + '-' + ((end.getMonth() + 1) < 10 ? '0' : '') + (end.getMonth() + 1) + '-' + (end.getDate() < 10 ? '0' : '') + end.getDate() + ' ' + (end.getHours() < 10 ? '0' : '') + end.getHours() + ":" + (end.getMinutes() < 10 ? '0' : '') + end.getMinutes());

                        $.ajax({
                            url: '{{ path('cours_find') }}',
                            method: 'GET',
                            data: {'id': event.id},
                            contentType: 'application/json',
                            success: function (result) {
                                // handle success

                                $("#matiere option").each(function () {

                                    if ($(this).val() == result.matiere_id) {

                                        $(this).attr('selected', 'selected');

                                    }

                                });

                                $("#intervenant option").each(function () {
                                    if ($(this).val() == result.intervenant_id) {

                                        $(this).attr('selected', 'selected');

                                    }

                                });

                                $("#classe option").each(function () {
                                    if ($(this).val() == result.classe_id) {

                                        $(this).attr('selected', 'selected');

                                    }

                                });

                                $("#salle option").each(function () {
                                    if ($(this).val() == result.salle_id) {
                                        $(this).attr('selected', 'selected');
                                    }

                                });

                                $('#delete-cours').val(event.id);

                            },
                            error: function (request, msg, error) {
                                // handle failure
                            }
                            //return true if the event 'eventObject' needs to be removed, return false if it doesn't
                        });

                        $('#addCour').modal('show');

                    },


                })

            }
        };


        jQuery(document).ready(function () {
            KTCalendarBasic.init();

            $('#print').click(function () {

                $('#kt_calendar').printThis({
                    pageTitle: "{{ planning.name }}",
                    header: '<h1 class="text-center">{{ planning.name }}</h1>'
                });

            });


            $('#delete-cours').click(function () {
                var id = $(this).val();

                var result = confirm("Vous voulez supprimer?");

                if(result){
                    $.ajax({
                        url: '{{ path('delete_cour') }}',
                        method: 'GET',
                        data: {'id': id},
                        contentType: 'application/json',
                        success: function (result) {
                            // handle success
                            $("#kt_calendar").fullCalendar('removeEvents', id);
                            console.log(result);
                            $("#events-layer").remove();

                            $('#addCour').modal('hide');
                        },
                        error: function (request, msg, error) {
                            // handle failure
                        }
                        //return true if the event 'eventObject' needs to be removed, return false if it doesn't
                    });
                }

            });
        });


    </script>

{% endblock %}


