<!DOCTYPE html>
<html lang="en" >
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--begin::Fonts -->
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Raleway:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->

    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="{{ asset('bundles/app/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/assets/print.css') }}" rel="stylesheet" media="print"/>
    <!--end::Page Vendors Styles -->
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css" rel="stylesheet" media="print"/>#}

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="{{ asset('bundles/app/assets/vendors/base/vendors.bundle.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/assets/demo/demo5/base/style.bundle.css') }}" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css" />
    <link href="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" type="text/css" />

    <!--begin::Layout Skins(used by all pages) -->
    <link href="{{ asset('bundles/app/assets/demo/demo5/skins/header/navy.css') }}" rel="stylesheet" type="text/css" />	    <!--end::Layout Skins -->

    {% block stylesheets %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('bundles/app/assets/media/logos/favicon.ico') }}" />

    <style>

        @media print{
            .fc-toolbar{
                display: none;
            }
        }
    </style>

</head>
<!-- end::Head -->

<!-- begin::Body -->
<body  class="kt-header--fixed kt-header-mobile--fixed kt-aside--enabled kt-aside--left kt-aside--fixed kt-aside--offcanvas-default kt-page--loading"  >

{% block body %}{% endblock %}


<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#1cac81",
                "metal": "#c4c5d6",
                "light": "#ffffff",
                "accent": "#00c5dc",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995",
                "focus": "#9816f4"
            },
            "base": {
                "label": [
                    "#b9bdc1",
                    "#aeb2b7",
                    "#414b4c",
                    "#343d3e"
                ],
                "shape": [
                    "#eef4f3",
                    "#e0e9e6",
                    "#80c3af",
                    "#41675c"
                ]
            }
        }
    };
</script>
<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="{{ asset('bundles/app/assets/vendors/base/vendors.bundle.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/assets/demo/demo5/base/scripts.bundle.js') }}" type="text/javascript"></script>
<!--end::Global Theme Bundle -->


<!--begin::Page Vendors(used by this page) -->
<script src="{{ asset('bundles/app/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/assets/vendors/custom/datatables/datatables.bundle.js') }}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/locale/fr.js"></script>
{#<script src="{{ asset('bundles/app/assets/app/custom/general/components/calendar/basic.js') }}" type="text/javascript"></script>#}
<script src="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
<script src="http://keenthemes.com/preview/metronic/theme/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
<!--end::Page Vendors -->

<!--begin::Page Scripts(used by this page) -->
<script src="{{ asset('bundles/app/assets/app/custom/general/dashboard.js') }}" type="text/javascript"></script>
<!--end::Page Scripts -->
<!--begin::Global App Bundle(used by all pages) -->
<script src="{{ asset('bundles/app/assets/app/bundle/app.bundle.js') }}" type="text/javascript"></script>
<script src="//jasonday.github.io/printThis/printThis.js" type="text/javascript"></script>
<!--end::Global App Bundle -->

{% block javascripts %}{% endblock %}
</body>
<!-- end::Body -->
</html>