{% extends "::base.html.twig" %}

{% block body %}
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="index.html">
                <img alt="Logo" src="{{ asset('bundles/app/assets/media/logos/logo-1.png') }}"/>
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i
                        class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item kt-grid kt-grid--ver  kt-header--fixed ">
                    <!-- begin:: Brand -->
                    <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                        <a href="index.html">
                            <img alt="Logo" src="{{ asset('bundles/app/assets/media/logos/logo-1.png') }}"/>
                        </a>
                    </div>
                    <!-- end:: Brand -->
                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
                                class="la la-close"></i></button>
                    <div class="kt-header-menu-wrapper kt-grid__item" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                            <ul class="kt-menu__nav ">
                                <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                    data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;"
                                                                                               class="kt-menu__link kt-menu__toggle"><span
                                                class="kt-menu__link-text">Dashboard</span>

                                    </a>

                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- end: Header Menu -->    <!-- begin:: Header Topbar -->
                    <div class="kt-header__topbar kt-grid__item kt-grid__item--fluid">

                        <!--begin: Language bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--langs">
                            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
			<span class="kt-header__topbar-icon">
				<img class="" src="{{ asset('bundles/app/assets/media/flags/020-flag.svg') }}" alt=""/>
			</span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
                                <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                                    <li class="kt-nav__item kt-nav__item--active">
                                        <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img src="{{ asset('bundles/app/assets/media/flags/020-flag.svg') }}"
                                                                             alt=""/></span>
                                            <span class="kt-nav__link-text">English</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img src="{{ asset('bundles/app/assets/media/flags/016-spain.svg') }}"
                                                                             alt=""/></span>
                                            <span class="kt-nav__link-text">Spanish</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img src="{{ asset('bundles/app/assets/media/flags/017-germany.svg') }}"
                                                                             alt=""/></span>
                                            <span class="kt-nav__link-text">German</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end: Language bar -->

                        <!--begin: User bar -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--user"
                             id="kt_offcanvas_toolbar_profile_toggler_btn">
                            <div class="kt-header__topbar-welcome">
                                Hi,
                            </div>
                            <div class="kt-header__topbar-username">
                                Nick
                            </div>
                            <div class="kt-header__topbar-wrapper">
                                <img alt="Pic" src="{{ asset('bundles/app/assets/media/users/default.jpg') }}"/>
                            </div>
                        </div>
                        <!--end: User bar -->
                    </div>
                    <!-- end:: Header Topbar --></div>
                <!-- end:: Header -->                <!-- begin:: Subheader -->
                <div id="kt_subheader" class="kt-subheader kt-grid__item ">
                    <!-- begin:: Subheader Title -->
                    <div class="kt-subheader__title">
                        <button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler">
                            <span></span></button>
                        <div class="kt-subheader__breadcrumbs">
                            <a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Dashboard</a>
                        </div>
                    </div>
                    <!-- end:: Subheader Title -->    </div>
                <!-- end:: Subheader -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
                    <div class="kt-body kt-body--fixed  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver"
                         id="kt_body">
                        <!-- begin:: Content -->
                        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                            <!--begin::Dashboard 1-->
                            <!--end::Dashboard 1--></div>
                        <!-- end:: Content -->                    </div>
                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer kt-grid__item" id="kt_footer">
                    <div class="kt-footer__copyright">
                        2019&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/keen" target="_blank" class="kt-link">FST University
                            Inc</a>
                    </div>
                </div>
                <!-- end:: Footer -->            </div>
        </div>
    </div>

{% endblock %}