<!-- begin::Offcanvas Toolbar Profile -->
<div id="kt_offcanvas_toolbar_profile" class="kt-offcanvas-panel">
    <div class="kt-offcanvas-panel__head">
        <h3 class="kt-offcanvas-panel__title">
            {{ app.user.getUsername() }}
        </h3>
        <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_profile_close"><i class="flaticon2-delete"></i></a>
    </div>
    <div class="kt-offcanvas-panel__body">

        <div class="kt-margin-t-40">
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-brand btn-font-sm btn-upper btn-bold">Déconnexion</a>
        </div>
    </div>
</div>
<!-- end::Offcanvas Toolbar Profile -->
<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item" id="kt_footer">
    <div class="kt-footer__copyright">
        2019&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/keen" target="_blank" class="kt-link">Université privée
            Inc</a>
    </div>
</div>
<!-- end:: Footer -->
</div>
</div>
</div>