<!-- begin:: Page -->
<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="">
            <img alt="Logo" src="{{ asset('bundles/app/assets/img/154-fst-marrakech.png') }}" style="    width: 52px;"/>
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i
                    class="flaticon-more"></i></button>
    </div>
</div>
<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <!-- begin:: Header -->
            <div id="kt_header" class="kt-header kt-grid__item kt-grid kt-grid--ver  kt-header--fixed ">
                <!-- begin:: Brand -->
                <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                    <a href="">
                        <img alt="Logo" src="{{ asset('bundles/app/assets/img/154-fst-marrakech.png') }}" style="    width: 52px;"/>
                    </a>
                </div>
                <!-- end:: Brand -->
                <!-- begin: Header Menu -->
                <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
                            class="la la-close"></i></button>
                <div class="kt-header-menu-wrapper kt-grid__item" id="kt_header_menu_wrapper">
                    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                        <ul class="kt-menu__nav ">

                            {% if is_granted('ROLE_ADMIN') == null %}
                            <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                        href="{{ path('planning_user_index') }}"
                                        class="kt-menu__link"><span
                                            class="kt-menu__link-text">Emploi du temps</span>

                                </a>

                            </li>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}

                                <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                    data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="{{ path('homepage') }}"
                                                                                               class="kt-menu__link"><span
                                                class="kt-menu__link-text">Dashboard</span>

                                    </a>

                                </li>

                            <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                        href="{{ path('planning_index') }}"
                                        class="kt-menu__link"><span
                                            class="kt-menu__link-text">Emploi du temps</span>

                                </a>

                            </li>

                            <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                        href="{{ path('matiere_index') }}"
                                        class="kt-menu__link"><span
                                            class="kt-menu__link-text">Matiere</span>
                                </a>
                            </li>

                            <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                        href="{{ path('filiere_index') }}"
                                        class="kt-menu__link"><span
                                            class="kt-menu__link-text">Filiere</span>
                                </a>
                            </li>

                            <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                        href="{{ path('intervenant_index') }}"
                                        class="kt-menu__link"><span
                                            class="kt-menu__link-text">Intervenant</span>
                                </a>
                            </li>

                            <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                        href="{{ path('salle_index') }}"
                                        class="kt-menu__link"><span
                                            class="kt-menu__link-text">Salle</span>
                                </a>
                            </li>
                            <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                        href="{{ path('classe_index') }}"
                                        class="kt-menu__link"><span
                                            class="kt-menu__link-text">Classe</span>
                                </a>
                            </li>

                                <li class="kt-menu__item  kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here"
                                    data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a
                                            href="{{ path('user_index') }}"
                                            class="kt-menu__link"><span
                                                class="kt-menu__link-text">Utilisateur</span>
                                    </a>
                                </li>

                            {% endif %}

                        </ul>
                    </div>
                </div>
                <!-- end: Header Menu -->

                <!-- begin:: Header Topbar -->
                <div class="kt-header__topbar kt-grid__item kt-grid__item--fluid">

                    <!--begin: Language bar -->
                    {#<div class="kt-header__topbar-item kt-header__topbar-item--langs">#}
                    {#<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">#}
                    {#<span class="kt-header__topbar-icon">#}
                    {#<img class="" src="{{ asset('bundles/app/assets/media/flags/020-flag.svg') }}" alt=""/>#}
                    {#</span>#}
                    {#</div>#}
                    {#<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">#}
                    {#<ul class="kt-nav kt-margin-t-10 kt-margin-b-10">#}
                    {#<li class="kt-nav__item kt-nav__item--active">#}
                    {#<a href="#" class="kt-nav__link">#}
                    {#<span class="kt-nav__link-icon"><img#}
                    {#src="{{ asset('bundles/app/assets/media/flags/020-flag.svg') }}"#}
                    {#alt=""/></span>#}
                    {#<span class="kt-nav__link-text">English</span>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li class="kt-nav__item">#}
                    {#<a href="#" class="kt-nav__link">#}
                    {#<span class="kt-nav__link-icon"><img#}
                    {#src="{{ asset('bundles/app/assets/media/flags/016-spain.svg') }}"#}
                    {#alt=""/></span>#}
                    {#<span class="kt-nav__link-text">Spanish</span>#}
                    {#</a>#}
                    {#</li>#}
                    {#<li class="kt-nav__item">#}
                    {#<a href="#" class="kt-nav__link">#}
                    {#<span class="kt-nav__link-icon"><img#}
                    {#src="{{ asset('bundles/app/assets/media/flags/017-germany.svg') }}"#}
                    {#alt=""/></span>#}
                    {#<span class="kt-nav__link-text">German</span>#}
                    {#</a>#}
                    {#</li>#}
                    {#</ul>#}
                    {#</div>#}
                    {#</div>#}
                    <!--end: Language bar -->

                    <!--begin: User bar -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--user"
                         id="kt_offcanvas_toolbar_profile_toggler_btn">
                        <div class="kt-header__topbar-welcome">
                            Bonjour,
                        </div>
                        <div class="kt-header__topbar-username">
                            {{ app.user.getUsername() }}
                        </div>
                        <div class="kt-header__topbar-wrapper">
                            <img alt="Pic" src="{{ asset('bundles/app/assets/media/users/default.jpg') }}"/>
                        </div>
                    </div>
                    <!--end: User bar -->
                </div>
                <!-- end:: Header Topbar -->
            </div>
            <!-- end:: Header -->
