{% extends 'base.html.twig' %}

{% block body %}


    {% include "::header.html.twig" %}

    <!-- begin:: Subheader -->
    <div id="kt_subheader" class="kt-subheader kt-grid__item ">
        <!-- begin:: Subheader Title -->
        <div class="kt-subheader__title">
            <button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler">
                <span></span></button>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Dashboard</a>
            </div>
        </div>
        <!-- end:: Subheader Title -->

    </div>
    <!-- end:: Subheader -->

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
        <div class="kt-body kt-body--fixed  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver" id="kt_body">

            <!-- begin:: Content -->
            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="row">

                    <div class="col-lg-3 col-xl-3 col-md-3 order-lg-1 order-xl-1">
                        <!--begin::Portlet-->
                        <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-3 kt-widget-3--brand">
                                    <div class="kt-widget-3__content">
                                        <div class="kt-widget-3__content-info" style="padding-bottom: 0rem;">
                                            <div class="kt-widget-3__content-section">
                                                <div class="kt-widget-3__content-title">Emploi du temps</div>
                                            </div>
                                            <div class="kt-widget-3__content-section">
                                                        <span class="kt-widget-3__content-number"
                                                              style="font-size: 4rem;">{{ plannings }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xl-3 col-md-3 order-lg-1 order-xl-1">
                        <!--begin::Portlet-->
                        <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-3 kt-widget-3--brand" style="background: #9b59b6;">
                                    <div class="kt-widget-3__content">
                                        <div class="kt-widget-3__content-info" style="padding-bottom: 0rem;">
                                            <div class="kt-widget-3__content-section">
                                                <div class="kt-widget-3__content-title">Classe</div>
                                            </div>
                                            <div class="kt-widget-3__content-section">
                                                        <span class="kt-widget-3__content-number"
                                                              style="font-size: 4rem;">{{ classes }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xl-3 col-md-3 order-lg-1 order-xl-1">
                        <!--begin::Portlet-->
                        <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-3 kt-widget-3--brand" style="background: #be2626;">
                                    <div class="kt-widget-3__content">
                                        <div class="kt-widget-3__content-info" style="padding-bottom: 0rem;">
                                            <div class="kt-widget-3__content-section">
                                                <div class="kt-widget-3__content-title">Intervenant</div>
                                            </div>
                                            <div class="kt-widget-3__content-section">
                                                        <span class="kt-widget-3__content-number"
                                                              style="font-size: 4rem;">{{ intervenants }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-xl-3 col-md-3 order-lg-1 order-xl-1">
                        <!--begin::Portlet-->
                        <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-3 kt-widget-3--brand" style="background: #0a0b2c;">
                                    <div class="kt-widget-3__content">
                                        <div class="kt-widget-3__content-info" style="padding-bottom: 0rem;">
                                            <div class="kt-widget-3__content-section">
                                                <div class="kt-widget-3__content-title">Matiere</div>
                                            </div>
                                            <div class="kt-widget-3__content-section">
                                                        <span class="kt-widget-3__content-number"
                                                              style="font-size: 4rem;">{{ matieres }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xl-3 col-md-3 order-lg-1 order-xl-1">
                        <!--begin::Portlet-->
                        <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-3 kt-widget-3--brand" style="background: #5f3f3f;">
                                    <div class="kt-widget-3__content">
                                        <div class="kt-widget-3__content-info" style="padding-bottom: 0rem;">
                                            <div class="kt-widget-3__content-section">
                                                <div class="kt-widget-3__content-title">Users</div>
                                            </div>
                                            <div class="kt-widget-3__content-section">
                                                        <span class="kt-widget-3__content-number"
                                                              style="font-size: 4rem;">{{ users }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xl-3 col-md-3 order-lg-1 order-xl-1">
                        <!--begin::Portlet-->
                        <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-3 kt-widget-3--brand" style="background: #BE2478;">
                                    <div class="kt-widget-3__content">
                                        <div class="kt-widget-3__content-info" style="padding-bottom: 0rem;">
                                            <div class="kt-widget-3__content-section">
                                                <div class="kt-widget-3__content-title">Filieres</div>
                                            </div>
                                            <div class="kt-widget-3__content-section">
                                                        <span class="kt-widget-3__content-number"
                                                              style="font-size: 4rem;">{{ filieres }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xl-3 col-md-3 order-lg-1 order-xl-1">
                        <!--begin::Portlet-->
                        <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                            <div class="kt-portlet__body kt-portlet__body--fluid">
                                <div class="kt-widget-3 kt-widget-3--brand" style="background: #324565;">
                                    <div class="kt-widget-3__content">
                                        <div class="kt-widget-3__content-info" style="padding-bottom: 0rem;">
                                            <div class="kt-widget-3__content-section">
                                                <div class="kt-widget-3__content-title">Salles</div>
                                            </div>
                                            <div class="kt-widget-3__content-section">
                                                        <span class="kt-widget-3__content-number"
                                                              style="font-size: 4rem;">{{ salles }} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- end:: Content -->

        </div>
    </div>

    {% include "::footer.html.twig" %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        "use strict";
        $(document).ready(function () {
        });
    </script>

{% endblock %}





