{% extends 'base.html.twig' %}

{% block body %}


    {% include "::header.html.twig" %}

    <!-- begin:: Subheader -->
    <div id="kt_subheader" class="kt-subheader kt-grid__item ">
        <!-- begin:: Subheader Title -->
        <div class="kt-subheader__title">
            <button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler">
                <span></span></button>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Dashboard</a>
            </div>
        </div>
        <!-- end:: Subheader Title -->

        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__toolbar-wrapper">
                <a href="{{ path('matiere_new') }}" class="btn btn-default btn-sm btn-bold btn-upper">Create</a>
            </div>
        </div>

    </div>
    <!-- end:: Subheader -->


    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
        <div class="kt-body kt-body--fixed  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver" id="kt_body">

            <!-- begin:: Content -->
            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="row">
                    <div class="col-md-12">
                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Base Controls</h3>
                                </div>
                            </div>
                            <!--begin::Form-->
                            {{ form_start(form, { 'attr': {'class': 'kt-form'} }) }}

                            <div class="kt-portlet__body">
                                <div class="form-group">
                                    {{ form_label(form.name,'Nom',{ 'attr': {'class': ''} }) }}
                                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.filiere,'filiere',{ 'attr': {'class': ''} }) }}
                                    {{ form_widget(form.filiere, { 'attr': {'class': 'form-control'} }) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.color,'Couleur',{ 'attr': {'class': ''} }) }}
                                    {{ form_widget(form.color, { 'attr': {'class': 'form-control color'} }) }}
                                </div>

                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <!--end::Form-->
                        </div>
                        <!--end::Portlet-->

                    </div>
                </div>
            </div>
            <!-- end:: Content -->

        </div>
    </div>

    {% include "::footer.html.twig" %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        "use strict";
        $(document).ready(function () {
            $(".color").minicolors({
                control: $(this).attr("data-control") || "hue",
                defaultValue: $(this).attr("data-defaultValue") || "",
                inline: "true" === $(this).attr("data-inline"),
                letterCase: $(this).attr("data-letterCase") || "lowercase",
                opacity: $(this).attr("data-opacity"),
                position: $(this).attr("data-position") || "bottom left",
                theme: "bootstrap"
            })
        });
    </script>

{% endblock %}


