<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8"/>

    <title></title>
    <meta name="description" content="User login example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--begin::Fonts -->
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Raleway:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->

    <!--begin::Page Custom Styles(used by this page) -->
    <link href="{{ asset('bundles/app/assets/app/custom/user/login-v1.demo5.css') }}" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="{{ asset('bundles/app/assets/vendors/base/vendors.bundle.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/assets/demo/demo5/base/style.bundle.css') }}" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->

    <!--begin::Layout Skins(used by all pages) -->
    <link href="{{ asset('bundles/app/assets/demo/demo5/skins/header/navy.css') }}" rel="stylesheet" type="text/css" />	    <!--end::Layout Skins -->


    <link rel="shortcut icon" href="{{ asset('bundles/app/assets/media/logos/favicon.ico') }}" />
</head>
<!-- end::Head -->

<!-- begin::Body -->
<body  style="background-image: url({{ asset('bundles/app/assets/media/misc/bg_1.jpg') }})"  class="kt-login-v1--enabled kt-header--fixed kt-header-mobile--fixed kt-aside--enabled kt-aside--left kt-aside--fixed kt-aside--offcanvas-default kt-page--loading"  >


<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item  kt-grid__item--fluid kt-grid kt-grid--hor kt-login-v1" id="kt_login_v1">
        <!--begin::Item-->
        <div class="kt-grid__item">
            <!--begin::Heade-->
            <div class="kt-login-v1__head">
                <div class="kt-login-v1__logo">
                    <a href="#">
                        <img style="width: 90px;" src="{{ asset('bundles/app/assets/img/154-fst-marrakech.png') }}" alt=""/>
                    </a>
                </div>
                <div class="kt-login-v1__signup">
                    <h4 class="kt-login-v1__heading">Je n'ai pas de compte?</h4>
                    <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                </div>
            </div>
            <!--begin::Head-->
        </div>
        <!--end::Item-->

        <!--begin::Item-->
        <div class="kt-grid__item  kt-grid kt-grid--ver  kt-grid__item--fluid">
            <!--begin::Body-->
            <div class="kt-login-v1__body">

                <!--begin::Wrapper-->
                <div class="kt-login-v1__wrapper">
                    <div class="kt-login-v1__container">
                        <h3 class="kt-login-v1__title">
                            Signer au compte
                        </h3>

                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="{{ path("fos_user_security_check") }}" method="post" class="kt-login-v1__form kt-form">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="form-group">
                            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                            </div>
                            <div class="form-group">
                            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                            <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />
                            </div>
                            <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">Se souvenir de moi</label>
                            </div>


                            <div class="kt-login-v1__actions">
                                <a href="{{ path('fos_user_resetting_request') }}" class="kt-login-v1__forgot">
                                    mot de passe oublié ?
                                </a>
                                {#{{ 'security.login.submit'|trans }}{{ 'security.login.remember_me'|trans }}#}
                                <input type="submit" class="btn btn-pill btn-elevate" id="_submit" name="_submit" value="Se connecter" />
                            </div>

                        </form>

                    </div>
                </div>
                <!--end::Wrapper-->
            </div>
            <!--begin::Body-->
        </div>
        <!--end::Item-->

    </div>
</div>

<!-- end:: Page -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="{{ asset('bundles/app/assets/vendors/base/vendors.bundle.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/app/assets/demo/demo5/base/scripts.bundle.js')}}" type="text/javascript"></script>
<!--end::Global Theme Bundle -->

<!--begin::Page Scripts(used by this page) -->
<script src="{{ asset('bundles/app/assets/app/custom/general/custom/login/login.js')}}" type="text/javascript"></script>
<!--end::Page Scripts -->

<!--begin::Global App Bundle(used by all pages) -->
<script src="{{ asset('bundles/app/assets/app/bundle/app.bundle.js')}}" type="text/javascript"></script>
<!--end::Global App Bundle -->
</body>
</html>