{% extends 'base.html.twig' %}

{% block body %}
    <h1>Intervenant</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ intervenant.id }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ intervenant.lastname }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ intervenant.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ intervenant.Email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ intervenant.phone }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if intervenant.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('intervenant_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('intervenant_edit', { 'id': intervenant.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
