{% extends 'base.html.twig' %}

{% block body %}


    {% include "::header.html.twig" %}

    <!-- begin:: Subheader -->
    <div id="kt_subheader" class="kt-subheader kt-grid__item ">
        <!-- begin:: Subheader Title -->
        <div class="kt-subheader__title">
            <button class="kt-subheader__toggler kt-subheader__toggler--left" id="kt_aside_toggler">
                <span></span></button>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--home">Dashboard</a>
            </div>
        </div>
        <!-- end:: Subheader Title -->

    </div>
    <!-- end:: Subheader -->


    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch">
        <div class="kt-body kt-body--fixed  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver" id="kt_body">

            <!-- begin:: Content -->
            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="row">
                    <div class="col-md-12">
                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Base Controls</h3>
                                </div>
                            </div>
                            <!--begin::Form-->
                            {{ form_start(edit_form, { 'attr': {'class': 'kt-form'} }) }}

                            <div class="kt-portlet__body">
                                <div class="form-group">
                                    {{ form_label(edit_form.name,'Nom',{ 'attr': {'class': ''} }) }}
                                    {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.nbr_chaise,'Nombre de chaise',{ 'attr': {'class': ''} }) }}
                                    {{ form_widget(edit_form.nbr_chaise, { 'attr': {'class': 'form-control'} }) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.nbr_table,'Nombre de table',{ 'attr': {'class': ''} }) }}
                                    {{ form_widget(edit_form.nbr_table, { 'attr': {'class': 'form-control color'} }) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.nbr_ordinateur,'Nombre d\'ordinateur ',{ 'attr': {'class': ''} }) }}
                                    {{ form_widget(edit_form.nbr_ordinateur, { 'attr': {'class': 'form-control color'} }) }}
                                </div>

                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}
                            <!--end::Form-->
                        </div>
                        <!--end::Portlet-->

                    </div>
                </div>
            </div>
            <!-- end:: Content -->

        </div>
    </div>

    {% include "::footer.html.twig" %}
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        "use strict";
        $(document).ready(function () {
        });
    </script>

{% endblock %}





