{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salle.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ salle.name }}</td>
            </tr>
            <tr>
                <th>Nbr_chaise</th>
                <td>{{ salle.nbrchaise }}</td>
            </tr>
            <tr>
                <th>Nbr_table</th>
                <td>{{ salle.nbrtable }}</td>
            </tr>
            <tr>
                <th>Nbr_ordinateur</th>
                <td>{{ salle.nbrordinateur }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if salle.createdat %}{{ salle.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if salle.updatedat %}{{ salle.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salle_edit', { 'id': salle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
